
server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/prescription-db;DB_CLOSE_ON_EXIT=FALSE;MODE=LEGACY
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

# Swagger UI at /swagger-ui/index.html
